desktop.ini
temp
parliamentary_money_files
parliamentary_money.Rproj
.Rhistory
.Rproj.user
parliamentary_money/parliamentary_money.docx
*.html
parliamentary_money/gastos_por_regiao/ano-atual.csv
rsconnect
emendas/temp
